<!DOCTYPE html>
<html>
<head>
  <title>IKEP AR Card</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/110/three.js"></script>
  <script src="https://raw.githack.com/AR-js-org/AR.js/3.2.1/three.js/build/ar.js"></script>
</head>
<body>
  <script>
  const renderer = new THREE.WebGLRenderer({
    antialias: true,
    alpha: true
  });
  renderer.setClearColor(new THREE.Color(), 0);
  renderer.setSize(window.innerWidth, window.innerHeight);
  renderer.domElement.style.position = 'absolute';
  renderer.domElement.style.top = '0px';
  renderer.domElement.style.left = '0px';
  document.body.appendChild(renderer.domElement);

  const scene = new THREE.Scene();
  scene.visible = false;
  const camera = new THREE.PerspectiveCamera();
  scene.add(camera);

  const arToolkitSource = new THREEx.ArToolkitSource({
    sourceType: 'webcam'
  });

  arToolkitSource.init(() => {
    setTimeout(() => {
      onResize();
    }, 2000);
  });

  addEventListener('resize', () => {
    onResize();
  });

  function onResize() {
    arToolkitSource.onResizeElement();
    arToolkitSource.copyElementSizeTo(renderer.domElement);
    if (arToolkitContext.arController !== null) {
      arToolkitSource.copyElementSizeTo(arToolkitContext.arController.canvas);
    }
  };

  const arToolkitContext = new THREEx.ArToolkitContext({
    cameraParametersUrl: 'static/data/camera_para.dat',
    detectionMode: 'color_and_matrix'
  });

  arToolkitContext.init(() => {
    camera.projectionMatrix.copy(arToolkitContext.getProjectionMatrix());
  });

  const arMarkerControls = new THREEx.ArMarkerControls(arToolkitContext, camera, {
    size: 1, // size of the marker in meter
    type: 'pattern',
    patternUrl: 'static/data/ikep.patt',
    changeMatrixMode: 'cameraTransformMatrix'
  });

  //AR contents
  var mixers = [];
  var clipActions = [];

  var iconPlane = new THREE.Mesh(
    new THREE.PlaneGeometry(1, 1),
    new THREE.MeshBasicMaterial( {
      map: new THREE.TextureLoader().load('static/images/icon.png', renderer),
    })
  );
  iconPlane.rotation.x = -Math.PI/2;
  scene.add(iconPlane);

  var web = new THREE.Group();
  var webIcon = new THREE.Mesh(
    new THREE.PlaneGeometry(0.5, 0.5),
    new THREE.MeshBasicMaterial( {
      map:  new THREE.TextureLoader().load('static/images/web.png', renderer)
    })
  );
  webIcon.position.x = -1.6;
  webIcon.position.y = -0.2;
  webIcon.position.z = 1.2;
  webIcon.rotation.x = -Math.PI/2;
  web.add(webIcon);

  const webIconPKF = new THREE.VectorKeyframeTrack( '.position', [ 0, 0.1, 0.2, 0.3], [ -1.6, -0.2, 0, -1.6, -0.2, 0.2, -1.6, -0.2, 0.6, -1.6, -0.2, 1.2 ] );
  const webIconClip = new THREE.AnimationClip( 'Action', 1, [webIconPKF] );
  const webIconMixer = new THREE.AnimationMixer( webIcon );
  mixers.push(webIconMixer);
  const webIconClipAction = webIconMixer.clipAction( webIconClip );
  webIconClipAction.setLoop(THREE.LoopOnce);
  clipActions.push(webIconClipAction);

  const font_loader = new THREE.FontLoader();
  font_loader.load('static/data/helvetiker_regular.typeface.json', function(font){
  	var textGeometry = new THREE.TextGeometry("https://ikep.jp", {
  		font: font,
  		size: 0.15,
  		height: 0,
  	});
  	var materials = new THREE.MeshBasicMaterial( { color: 0x000000} );
  	var textMesh = new THREE.Mesh(textGeometry, materials);
    textMesh.position.x = -1.2;
    textMesh.position.z = 1.25;
    textMesh.rotation.x = -Math.PI/2;
  	web.add(textMesh);
  });
  scene.add(web);

  var twitter = new THREE.Group();
  var twitterIcon = new THREE.Mesh(
    new THREE.PlaneGeometry(0.5, 0.5),
    new THREE.MeshBasicMaterial( {
      map:  new THREE.TextureLoader().load('static/images/Twitter_Social_Icon_Circle_Color.png', renderer)
    })
  );
  twitterIcon.position.x = -1.6;
  twitterIcon.position.y = -0.1;
  twitterIcon.position.z = 1.8;
  twitterIcon.rotation.x = -Math.PI/2;
  twitter.add(twitterIcon);

  const twitterIconPKF = new THREE.VectorKeyframeTrack( '.position', [ 0.3, 0.4, 0.5, 0.6], [ -1.6, -0.1, 0, -1.6, -0.1, 0.3, -1.6, -0.1, 0.9, -1.6, -0.1, 1.8 ] );
  const twitterIconClip = new THREE.AnimationClip( 'Action', 1, [twitterIconPKF] );
  const twitterIconMixer = new THREE.AnimationMixer( twitterIcon );
  mixers.push(twitterIconMixer);
  const twitterIconClipAction = twitterIconMixer.clipAction( twitterIconClip );
  twitterIconClipAction.setLoop(THREE.LoopOnce);
  clipActions.push(twitterIconClipAction);

  font_loader.load('static/data/helvetiker_regular.typeface.json', function(font){
    var textGeometry = new THREE.TextGeometry("@CreativeIEKP", {
      font: font,
      size: 0.15,
      height: 0,
    });
    var materials = new THREE.MeshBasicMaterial( { color: 0x000000} );
    var textMesh = new THREE.Mesh(textGeometry, materials);
    textMesh.position.x = -1.2;
    textMesh.position.z = 1.85;
    textMesh.rotation.x = -Math.PI/2;
    twitter.add(textMesh);
  });
  scene.add(twitter);

  var github = new THREE.Group();
  var githubIcon = new THREE.Mesh(
    new THREE.PlaneGeometry(0.5, 0.5),
    new THREE.MeshBasicMaterial( {
      map:  new THREE.TextureLoader().load('static/images/GitHub-Mark-120px-plus.png', renderer)
    })
  );
  githubIcon.position.x = -1.6;
  githubIcon.position.z = 2.4;
  githubIcon.rotation.x = -Math.PI/2;
  github.add(githubIcon);

  const githubIconPKF = new THREE.VectorKeyframeTrack( '.position', [ 0.6, 0.7, 0.8, 0.9], [ -1.6, 0, 0, -1.6, 0, 0.4, -1.6, 0, 1.2, -1.6, 0, 2.4 ] );
  const githubIconClip = new THREE.AnimationClip( 'Action', 1, [githubIconPKF] );
  const githubIconMixer = new THREE.AnimationMixer( githubIcon );
  mixers.push(githubIconMixer);
  const githubIconClipAction = githubIconMixer.clipAction( githubIconClip );
  githubIconClipAction.setLoop(THREE.LoopOnce);
  clipActions.push(githubIconClipAction);

  font_loader.load('static/data/helvetiker_regular.typeface.json', function(font){
    var textGeometry = new THREE.TextGeometry("creativeIEKP", {
      font: font,
      size: 0.15,
      height: 0,
    });
    var materials = new THREE.MeshBasicMaterial( { color: 0x000000} );
    var textMesh = new THREE.Mesh(textGeometry, materials);
    textMesh.position.x = -1.2;
    textMesh.position.z = 2.45;
    textMesh.rotation.x = -Math.PI/2;
    github.add(textMesh);
  });
  scene.add(github);

  const raycaster = new THREE.Raycaster();
  renderer.domElement.addEventListener('click', (event) => {
    const element = event.currentTarget;
    const x = event.clientX - element.offsetLeft;
    const y = event.clientY - element.offsetTop;
    const w = element.offsetWidth;
    const h = element.offsetHeight;
    const mouse = new THREE.Vector2((x / w) * 2 - 1, -(y / h) * 2 + 1);
    raycaster.setFromCamera(mouse, camera);

    const intersects = raycaster.intersectObjects(scene.children, true);
    if (intersects.length > 0) {
      if(intersects[0].object.parent === web){location.href = "https://ikep.jp";}
      if(intersects[0].object.parent === twitter){location.href = "https://twitter.com/CreativeIKEP";}
      if(intersects[0].object.parent === github){location.href = "https://github.com/creativeIKEP";}
    }
  });

  const clock = new THREE.Clock();
  requestAnimationFrame(function animate(){
    requestAnimationFrame(animate);
    if (!arToolkitSource.ready) {
      return;
    }
    arToolkitContext.update(arToolkitSource.domElement);
    scene.visible = camera.visible;

    const delta = clock.getDelta();
    mixers.forEach(mixer => mixer.update( delta ));
    if(camera.visible){
      clipActions.forEach(clipAction => clipAction.play());
    }
    else{
      clipActions.forEach(clipAction => clipAction.reset());
    }

    renderer.render(scene, camera);
  });
  </script>
</body>
</html>
