<!DOCTYPE html>
<html>
<head>
  <title>IKEP AR Card</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/110/three.js"></script>
  <script src="https://raw.githack.com/AR-js-org/AR.js/3.2.1/three.js/build/ar.js"></script>
</head>
<body>
  <script>
  const renderer = new THREE.WebGLRenderer({
    antialias: true,
    alpha: true
  });
  renderer.setClearColor(new THREE.Color(), 0);
  renderer.setSize(window.innerWidth, window.innerHeight);
  renderer.domElement.style.position = 'absolute';
  renderer.domElement.style.top = '0px';
  renderer.domElement.style.left = '0px';
  document.body.appendChild(renderer.domElement);

  const scene = new THREE.Scene();
  scene.visible = false;
  const camera = new THREE.Camera();
  scene.add(camera);

  const arToolkitSource = new THREEx.ArToolkitSource({
    sourceType: 'webcam'
  });

  arToolkitSource.init(() => {
    setTimeout(() => {
      onResize();
    }, 2000);
  });

  addEventListener('resize', () => {
    onResize();
  });

  function onResize() {
    arToolkitSource.onResizeElement();
    arToolkitSource.copyElementSizeTo(renderer.domElement);
    if (arToolkitContext.arController !== null) {
      arToolkitSource.copyElementSizeTo(arToolkitContext.arController.canvas);
    }
  };

  const arToolkitContext = new THREEx.ArToolkitContext({
    cameraParametersUrl: 'static/data/camera_para.dat',
    detectionMode: 'color_and_matrix'
  });

  arToolkitContext.init(() => {
    camera.projectionMatrix.copy(arToolkitContext.getProjectionMatrix());
  });

  const arMarkerControls = new THREEx.ArMarkerControls(arToolkitContext, camera, {
    size: 1, // size of the marker in meter
    type: 'pattern',
    patternUrl: 'static/data/ikep.patt',
    changeMatrixMode: 'cameraTransformMatrix'
  });


  //AR contents
  var iconPlane = new THREE.Mesh(
    new THREE.PlaneGeometry(1, 1),
    new THREE.MeshBasicMaterial( {
      map:  new THREE.TextureLoader().load('static/images/icon.png', renderer)
    })
  );
  iconPlane.rotation.x = -Math.PI/2;
  scene.add(iconPlane);

  var twitterIcon = new THREE.Mesh(
    new THREE.PlaneGeometry(0.5, 0.5),
    new THREE.MeshBasicMaterial( {
      map:  new THREE.TextureLoader().load('static/images/Twitter_Social_Icon_Circle_Color.png', renderer)
    })
  );
  twitterIcon.position.x = -1.6;
  twitterIcon.position.z = 1.2;
  twitterIcon.rotation.x = -Math.PI/2;
  scene.add(twitterIcon);

  var githubIcon = new THREE.Mesh(
    new THREE.PlaneGeometry(0.5, 0.5),
    new THREE.MeshBasicMaterial( {
      map:  new THREE.TextureLoader().load('static/images/GitHub-Mark-120px-plus.png', renderer)
    })
  );
  githubIcon.position.x = -1.6;
  githubIcon.position.z = 1.8;
  githubIcon.rotation.x = -Math.PI/2;
  scene.add(githubIcon);

  requestAnimationFrame(function animate(){
    requestAnimationFrame(animate);
    if (!arToolkitSource.ready) {
      return;
    }
    arToolkitContext.update(arToolkitSource.domElement);
    scene.visible = camera.visible;
    renderer.render(scene, camera);
  });
  </script>
</body>
</html>
